/* global style */
:root{
    --main-color:#24caac;
    --color-1: #eaa023;
    --color-2: #e91e63;
    --dark-800: #24292d;
    --dark-700: #2f363e;
    --white-900: #ffffff;
    --white-800:rgba(255,255,255,0.8);
    --Shadow:0 0 15px rgba(0,0,0,0.2);
    scroll-behavior: smooth;
}
/* .header{
    width: 50%;
} */
.home{
    background-color: var(--dark-800);
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
.home h2{
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    color: var(--white-900);
    font-size: 25px;
}
.home h2 span{
    color:var(--main-color);
}
.player-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.video-player{
    width: 75%;
    padding-left: 60px;
    padding-right: 60px;
}
.video-player iframe{
    display: block;
    width: 717px;
    height: 403px;
}
.playlist table{
    color: var(--white-800);
    align-items: center;
    margin-right: 15px;    
}
.items{
    padding: 10% 0;
    border: 2px solid grey;
    width: 120%;
    padding-left: 5%;
    border-radius: 12px;
    background: rgba(128, 128, 128, 0.418);
}
.items:hover{
    background: rgba(128, 128, 128, 0.616)
}
.active{
    background: rgba(128, 128, 128, 0.788)
}
.playlist h3{
    color: var(--white-800);
    font-weight: bold;
    text-align: center;
    margin-left: 12%;
    padding-bottom: 8%;
}
.playlist #s2{
    margin-left: 25px;
}
.playlist #s3{
    margin-left: 20px;
}


/* footer */

.footer{
    background-color: var(--dark-700);
    padding: 60px 0;
    color: var(--white-800);
}
.footer-item{
    width: 25%;
    padding:0 15px;
}
.footer-item h2{
    color: var(--white-900);
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-about .social-links{
    margin-top: 15px;
}
.footer-about .social-links a{
    display: inline-block;
    border:1px solid transparent;
    height: 35px;
    width: 35px;
    color: var(--main-color);
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    transition: all 0.5s ease;
    border-radius: 50%;
}
.footer-about .social-links a:hover{
    border-color: var(--main-color);
}
.footer-quick-links ul li a{
    display: block;
    padding:8px 0;
    text-transform: capitalize;
    font-size: 16px;
    color: inherit;
}
.footer-quick-links ul li a:hover{
    color: var(--main-color);
}
.footer-contact p{
    margin:0 0 15px;
    position: relative;
    padding-left:30px;
}
.footer-contact p i{
    position: absolute;
    left: 0;
    top: 5px;
}
.footer-newsletter .form-control{
    margin-bottom: 15px;
    text-align: center;
}
.footer-newsletter .btn{
    height: 45px;
    width: 100%;
}


@media(max-width:991px){
    .header .nav-toggler{
        display: flex;
        margin-right: 5px;
    }
    .header .nav{
        width: 100%;
        position: absolute;
        background-color: var(--dark-700);
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
    }
    .header #nav-check:checked ~ .nav{
        visibility: visible;
        opacity: 1;
    }
    .header .nav ul li{
        margin: 0;
        display: block;
    }
    .footer-item{
        width: 50%;
    }
    .footer-item{
        margin-bottom: 30px;
    }
}

@media(max-width:575px){
    .home{
        width: 120%;
    }
    .home h2{
        font-size: 15px;
    }
    .video-player{
        width: 100%;
    }
    .video-player iframe{
        display: block;
        width: 358px;
        height: 201px;
    }
    .playlist{
        margin-top: 40px;
        margin-left: 20%;
    }
    .playlist table{
        width: 100%;        
    }
    .footer{
        width: 120%;
    }
    .footer-item{
        width: 100%;
    }
    /* .footer-newsletter,.footer-contact,.footer-about {
        width: 80%;
    } */
}