/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* global style */
:root{
    --main-color:#24caac;
    --color-1: #eaa023;
    --color-2: #e91e63;
    --dark-800: #24292d;
    --dark-700: #2f363e;
    --white-900: #ffffff;
    --white-800:rgba(255,255,255,0.8);
    --Shadow:0 0 15px rgba(0,0,0,0.2);
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}
.h-100{
    min-height: 100vh;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid transparent;
    transition:all 0.3s ease;
}
.btn-1{
    background-color: var(--main-color);
    color: var(--white-900);
}
.btn-1:hover{
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}
@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes zoomOutIn01{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
}
.sec-padding{
    padding: 80px 0;
}
.section-title{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 60px;
}
.section-title h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    color:var(--white-900);
    font-weight: 600;
}
.section-title h2 span{
    position: relative;
}
.section-title h2 span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 2px;
    background-color: var(--main-color);
    transform: skewY(-3deg);
}
p{
    font-size: 16px;
    color: var(--white-800);
}
/* header */
.header{
    background-color: var(--dark-800);
    padding:10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid var(--dark-700);
}
.header .logo{
    padding: 0 15px;
}
.header .logo a{
    font-size: 24px;
    color: var(--white-900);
    text-transform: capitalize;
    font-weight: 600;
}
.header #nav-check{
    position: absolute;
    pointer-events: none;
    opacity:0;
}
.header #nav-check:focus ~ .nav-toggler{
    box-shadow:0 0 10px var(--main-color);
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
    border:1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.header .nav-toggler span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
    position: relative;
}
.header #nav-check:checked ~ .nav-toggler span{
    background-color: transparent;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
}
.header .nav-toggler span::before{
    transform: translateY(-6px);
}
.header #nav-check:checked ~ .nav-toggler span::before{
    transform: rotate(45deg);
}
.header .nav-toggler span::after{
    transform: translateY(6px);
}
.header #nav-check:checked ~ .nav-toggler span::after{
    transform: rotate(-45deg);
}
.header .nav{
    padding: 0 15px;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    font-size: 16px;
    color: var(--white-900);
    display: block;
    padding: 10px 0;
    text-transform: capitalize;
    transition:all 0.5s ease;
}
.header .nav ul li a:hover{
    color: var(--main-color);
}

/* home section */
.home-section{
    background-color: var(--dark-800);
    overflow: hidden;
}
.home-section .h-100{
    padding: 120px 0;
}
.home-text,
.home-img{
    width: 50%;
    padding: 0 15px;
}
.home-text h1{
    font-size: 50px;
    color:var(--main-color);
    text-transform: uppercase;
    line-height: 1.2;
}
.home-text h1 span{
    color: var(--color-2);
    position: relative;
    z-index: 1;
}
.home-text h1 span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: 15px;
    background-color: var(--white-900);
    transform: skewY(-3deg);
    z-index: -1;
}
.home-text h2{
    font-size: 24px;
    font-weight: 300;
    color: var(--white-900);
    margin: 15px 0 40px;
}
/* .home-text h2 span{
    color: var(--main-color); 
}    */
.home-img-inner{
    max-width: 400px;
    margin: auto;
    position: relative;
}
.home-img-inner img{
    width: 100%;
    animation: zoomOutIn01 7s linear infinite;
}
.home-course{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: spin01 30s linear infinite;
}
.home-course-item{
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--white-900);
}
.home-course-item:nth-child(1){
    left: -40px;
    top:calc(50% - 40px);
    background-color: var(--color-1);
}
.home-course-item:nth-child(2){
    right: -40px;
    top:calc(50% - 40px);
    background-color: var(--color-2);
}
.home-course-item:nth-child(3){
    top: -40px;
    left:calc(50% - 40px);
    background-color: var(--main-color);
}
.home-course-item:nth-child(4){
    bottom: -40px;
    right:calc(50% - 40px);
    background-color: var(--dark-700);
}
/* why us section */
.why-us-section{
    background-color: var(--dark-800);
    padding-bottom: 50px;
}
.why-us-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    padding: 30px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: var(--Shadow);
}
.why-us-item::before,
.why-us-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-700);
    z-index: -1;
    transition: all 0.5s ease;
}
.why-us-item:hover::before{
    transform: scale(1,0);
}
.why-us-item:hover::after{
    transform: scale(0,1);
}
.why-us-item:nth-child(1){
    background-color: var(--color-1);
}
.why-us-item:nth-child(2){
    background-color: var(--color-2);
}
.why-us-item:nth-child(3){
    background-color: var(--main-color);
}
.why-us-item .icon{
    font-size: 30px;
    color:var(--main-color);
    margin:0 0 10px;
    transform: all 0.5s ease;
}
.why-us-item:hover .icon{
    color: var(--white-900);
}
.why-us-item h3{
    color: var(--white-900);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin:0 0 10px;
}
/* course-section */
.course-section{
    background-color: var(--dark-800);
    padding-bottom: 50px;
}
.course-item{
    width: calc(25% - 30px);
    margin:0 15px 30px;
}
.course-img{
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
}
.course-item:hover .course-img{
    transform: scale(0.9);
    box-shadow: var(--Shadow);
}
.course-img img{
    width: 100%;
}
.course-img .course-price{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--dark-800);
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
}
.course-info{
    padding: 15px 0;
}
.course-info ul{
    display: flex;
    justify-content: space-between;
}
.course-info ul li{
    color: var(--white-800);
    text-transform: capitalize;
    font-size: 14px;
}
.course-info ul li .fa-star{
    color: var(--color-1);
}
.course-info h3{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--white-900);
    margin: 10px 0 0;
}

/*fun fact section starts */

.fun-facts-section{
    background-color: var(--dark-800);
}
.fun-facts-img img{
    display: flex;
    justify-content: center;
}
.fun-facts-img img{
    max-width: 420px;
    width: 100%;
    animation: zoomOutIn01 7s linear infinite;
}
.fun-facts-img,
.fun-facts-items{
    width: 50%;
}
.fun-fact-item{
    width: calc(50% - 30px);
    margin: 30px 15px 30px;
    padding: 25px;px;
    text-align: center;
    border-radius: 4px;
}
.fun-fact-item:nth-child(1){
    background-color: var(--color-1);
}
.fun-fact-item:nth-child(2){
    background-color: var(--color-2);
}
.fun-fact-item:nth-child(3){
    background-color: var(--main-color);
}
.fun-fact-item:nth-child(4){
    background-color: var(--dark-700);
}
.fun-fact-item h3{
    font-size: 35px;
    color:var(--white-900);
    text-transform: capitalize;
    margin:0 0 5px;
}
.fun-facts-item p{
    text-transform: uppercase;
    color:var(--white-900);
}

/* reviews section */
.reviews-section{
    background-color: var(--dark-800);
}
.reviews-section